

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .btn {
      @apply px-6 py-3 rounded-full text-white font-semibold text-lg transition duration-300 ease-in-out transform hover:scale-105 text-center;
    }
    .btn-primary {
      @apply bg-blue-600 hover:bg-blue-700;
    }
    .btn-secondary {
      @apply bg-green-600 hover:bg-green-700;
    }
  }



  /* Hide scrollbar for WebKit-based browsers (Chrome, Safari, Edge) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* Optional: Ensure smooth scrolling */
.no-scrollbar {
  -webkit-overflow-scrolling: touch;
}


 